{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    <div class="form_group text-right">
        {{ form_widget(form.register) }}
    </div>
    {{ form_end(form) }}
{% endblock %}