{% extends 'admin/view.html.twig' %}

{% block tbody %}
<tr>
    <th>Name</th>
    <td>{{ entity.name }}</td>
</tr>
<tr>
    <th>Room Type</th>
    <td>{{ entity.roomType }}</td>
</tr>
<tr>
    <th>Valid From</th>
    <td>{{ entity.validFrom | date('Y-m-d H:i:s') }}</td>
</tr>
<tr>
    <th>Valid To</th>
    <td>{{ entity.validTo | date('Y-m-d H:i:s') }}</td>
</tr>
<tr>
    <th>created</th>
    <td>{{ entity.created | date('Y-m-d H:i:s') }}</td>
</tr>
<tr>
    <th>Updated</th>
    <td>{{ entity.updated | date('Y-m-d H:i:s') }}</td>
</tr>
{% endblock %}