{% extends 'base.html.twig' %}
{% set display = {"id" : "primary", "type" : "text", "capacity" : "text", "created" : "date", "updated" : "date"} %}

{% block title %}Manage {{ type | replace({'_' : ' '}) | title }}{% endblock %}

{% block body %}
    <div class="row mt-3">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped">
                    <caption>List of {{ (type ~ "s") | replace({'_' : ' '}) | title }}</caption>
                    <thead class="thead-dark">
                        <tr>
                            {% for key in display | keys %}
                                <th scope="col" class="align-middle">{{ key | replace({'_' : ' '}) | title }}</th>
                            {% endfor %}
                            <th class="text-right">
                                <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#createModal">Create</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="entities">
                    {% for entity in entities %}
                        {# make a temporary array from the object #}
                        {% set temp = {} %}
                        {% for key, value in display %}
                            {% if value == 'date' %}
                                {% set temp = temp | merge({(key) : attribute(entity, key) | date('Y-m-d H:i:s')}) %}
                            {% else %}
                                {% set temp = temp | merge({(key) : attribute(entity, key) | e}) %}
                            {% endif %}
                        {% endfor %}
                        {# store data in tr for the form creation #}
                        <tr{% for key, value in temp %} data-{{ key }}="{{ value }}"{% endfor %}>
                            {% for key, value in temp %}
                                {% if key == primary %}
                                    <th scope="row" class="align-middle">{{ value }}</th>
                                {% elseif attribute(display, key) == "date" %}
                                    <td class="align-middle text-nowrap">{{ value }}</td>
                                {% else %}
                                    <td class="align-middle">{{ value }}</td>
                                {% endif %}
                            {% endfor %}
                            <td class="text-right text-nowrap">
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#editModal">Edit</button>
                                <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="no-entities">
                            <td colspan="{{ (display | length) + 1 }}" class="text-center">No {{ type | replace({'_' : ' '}) | title }} found.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create {{ type | replace({'_' : ' '}) | title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(createForm) }}
                <div class="modal-body">
                    {{ form_errors(createForm) }}
                    {{ form_row(createForm.type) }}
                    {{ form_row(createForm.capacity) }}
                </div>
                <div class="modal-footer">
                    {{ form_widget(createForm.submit, {"attr" : {"class" : "btn btn-primary"}}) }}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
                {{ form_end(createForm) }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit <span class="target">0</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(editForm) }}
                <div class="modal-body">
                    {{ form_errors(editForm) }}
                    {{ form_row(editForm.type) }}
                    {{ form_row(editForm.capacity) }}
                </div>
                <div class="modal-footer">
                    {{ form_widget(editForm.submit, {"attr" : {"class" : "btn btn-primary"}}) }}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
                {{ form_end(editForm) }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete <span class="target">0</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('api_' ~ type ~ '_delete', {'id' : 0}) }}" method="POST">
                <div class="modal-body">
                    <input type="hidden" name="_method" value="DELETE">
                    <p>Do you really want to delete <span class="target">0</span>?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" type="button" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {

        function updateRow(entity) {
            var row = $('.entities tr[data-id='+ entity.{{ primary }} +']');
            if (!row.length) {
                $('.entities').append('<tr data-id="' + entity.{{ primary }} + '"></tr>');
                row = $('.entities tr[data-id='+ entity.{{ primary }} +']');
            }
            $.each(entity, function(key, value) {
                row.data(key, value);
            });

            row.html('');
            {% for key, value in display %}
                {% if value == "primary" %}
                    row.append('<th scope="row" class="align-middle">' + entity.{{ key }} + '</th>');
                {% elseif value == "date" %}
                    row.append('<td class="align-middle text-nowrap">' + moment(entity.{{ key }}).format('YYYY-MM-DD HH:mm:ss') + '</td>');
                {% else %}
                    row.append('<td class="align-middle">' + entity.{{ key }} + '</td>');
                {% endif %}
            {% endfor %}
            row.append('<td class="text-right text-nowrap"><button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#editModal">Edit</button> <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal">Delete</button></td>');
        }

        $('form').submit(function(event) {
            var form = $(this);

            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function(data) {
                    console.log("response:" + data);
                    
                    // put entities in table
                    if (data.reports) {
                        $.each(data.reports, function(index, entity) {
                            updateRow(entity);
                        });
                    }

                    // remove entities from table
                    if (data.removes) {
                        $.each(data.removes, function(index, value) {
                            $('.entities tr[data-id='+ value +']').remove();
                        });
                    }
                    
                    // no entities found display
                    $('.no-entities').remove();
                    if ($('.entities').html().replace(/\s/g, '') == '') {
                        $('.entities').append('<tr class="no-entities"><td colspan="{{ (display | length) + 1 }}" class="text-center">No {{ type | replace({'_' : ' '}) | title }} found.</td></tr>');
                    }
                }
            });

            $('#createModal, #editModal, #deleteModal').modal('hide');
            return false;
        });

        // edit modal
        $('#editModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var data = button.parent().parent().data();

            var modal = $(this);

            // update id
            var url = modal.find('form').attr('action');
            modal.find('form').attr('action', url.replace(/\d+$/, data.id));

            modal.find('.target').html(data.type);

            $.each(data, function(key, value) {
                modal.find("input[name='{{ type }}[" + key + "]']").val(value);
            });
        });

        // delete modal
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var data = button.parent().parent().data();

            var modal = $(this);

            // update id
            var url = modal.find('form').attr('action');
            modal.find('form').attr('action', url.replace(/\d+$/, data.id));

            modal.find('.target').html(data.type);
        });
    });
</script>
{% endblock %}
