{% extends 'base.html.twig' %}

{% block title %}Manage Room Types{% endblock %}

{% block body %}
    <div class="row">
        <div class="col text-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">Create</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Type</th>
                        <th scope="col">Capacity</th>
                        <th scope="col">Created</th>
                        <th scope="col">Updated</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="room_types">
                {% for roomType in roomTypes %}
                    {# store data in tr for the form creation #}
                    <tr data-id="{{ roomType.id }}" data-type="{{ roomType.type }}" data-capacity="{{ roomType.capacity }}">
                        <td scope="row" class="align-middle">{{ roomType.id }}</td>
                        <td class="align-middle">{{ roomType.type | e }}</td>
                        <td class="align-middle">{{ roomType.capacity | e }}</td>
                        <td class="align-middle moment">{{ roomType.created | date('Y-m-d H:i:s') }}</td>
                        <td class="align-middle moment">{{ roomType.updated | date('Y-m-d H:i:s') }}</td>
                        <td class="text-right">
                            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#editModal">Edit</button>
                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center">No room types found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Room Type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(createForm) }}
                <div class="modal-body">
                    {{ form_errors(createForm) }}
                    {{ form_row(createForm.type) }}
                    {{ form_row(createForm.capacity) }}
                </div>
                <div class="modal-footer">
                    {{ form_widget(createForm.submit, {"attr" : {"class" : "btn btn-primary"}}) }}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
                {{ form_end(createForm) }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit <span class="target">0</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(editForm) }}
                <div class="modal-body">
                    {{ form_errors(editForm) }}
                    {{ form_row(editForm.type) }}
                    {{ form_row(editForm.capacity) }}
                </div>
                <div class="modal-footer">
                    {{ form_widget(editForm.submit, {"attr" : {"class" : "btn btn-primary"}}) }}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
                {{ form_end(editForm) }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete <span class="target">0</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('api_room_type_delete', {'id' : 0}) }}" method="POST">
                <div class="modal-body">
                    <input type="hidden" name="_method" value="DELETE">
                    <p>Do you really want to delete <span class="target">0</span>?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" type="button" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {
        //TODO make more flexible and load only single entries
        function reload() {
            $.ajax({
                type: 'GET', 
                url: "{{ path('api_room_type_index') }}", 
                data: {}, 
                dataType: 'json',
                success: function (data) { 
                    var roomTypes = data.reports;
                    $('.room_types').html('');

                    $.each(roomTypes, function(index, roomType) {
                        // create new row
                        $('.room_types').append('<tr data-id="' + roomType.id + '" data-type="' + roomType.type + '" data-capacity="' + roomType.capacity + '"></tr>');

                        // could be used to update existing row
                        var row = $('.room_types tr[data-id='+ roomType.id +']');
                        row.append('<td scope="row" class="align-middle">' + roomType.id + '</td>');
                        row.append('<td class="align-middle">' + roomType.type + '</td>');
                        row.append('<td class="align-middle">' + roomType.capacity + '</td>');
                        row.append('<td class="align-middle">' + moment(roomType.created).format('YYYY-MM-DD HH:mm:ss') + '</td>');
                        row.append('<td class="align-middle">' + moment(roomType.updated).format('YYYY-MM-DD HH:mm:ss') +'</td>');
                        row.append('<td class="text-right"><button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#editModal">Edit</button> <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">Delete</button></td>');
                    });
                }
            });
        }

        $('form').submit(function(event) {
            var form = $(this);

            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function(data) {
                    reload();
                }
            });

            $('#createModal, #editModal, #deleteModal').modal('hide');
            event.preventDefault();
        });

        // delete modal
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var data = button.parent().parent().data();

            var modal = $(this);

            // update id
            var url = modal.find('form').attr('action');
            modal.find('form').attr('action', url.replace(/\d+$/, data.id));

            modal.find('.target').html(data.type);
        });

        // edit modal
        $('#editModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var data = button.parent().parent().data();

            var modal = $(this);

            // update id
            var url = modal.find('form').attr('action');
            modal.find('form').attr('action', url.replace(/\d+$/, data.id));

            modal.find('.target').html(data.type);

            $.each(data, function(key, value) {
                modal.find("input[name='room_type[" + key + "]']").val(value);
            });
        });
    });
</script>
{% endblock %}
