{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block content %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        <div class="form-group text-right">
            {{ form_widget(form.submit) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
