{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
{% for booking in bookings %}
    {% if loop.index0 % 2 == 0  %}
        <div class="row mb-3">
    {% endif %}
    <div class="col-lg">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ booking.bookingType.type }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">by {{ booking.guest.lastname }}</h6>
                <p class="card-text">
                    Arrival: {{ booking.arrival | date('Y-m-d') }}<br>
                    Depature: {{ booking.depature | date('Y-m-d') }}
                </p>
            </div>
            {% if booking.rooms is iterable %}
            <ul class="list-group list-group-flush">
                {% for room in booking.rooms %}
                    <li class="list-group-item">
                        {{ room.name }}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    {% if loop.index0 % 2 == 1  %}
        </div>
    {% endif %}
{% endfor %}
{% endblock %}